#map {
  height: calc(60vh - 3.5rem);
}
#describe {
  height: calc(40vh);
}

@media (min-width: 768px) { 
  #map {
    height: calc(100vh - 3.5rem);
  }
  #describe {
    height: calc(100vh - 3.5rem);
  }
}
